@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0 !important;
}

body {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif !important;
  color: #414141 !important;
  font-weight: 300;
}

p {
  font-family: 'Rubik', sans-serif !important;
  color: #414141 !important;
  font-weight: 300;
}
a {
  color: #414141 !important;
}

main {
  min-height: 70vh;
}

button,
.ui.basic.button,
.ui.input > input,
.ui.dropdown .menu,
.ui.steps,
.ui.message,
.ui.table,
.ui.steps .step,
.ui.label,
.ui.form textarea {
  border-radius: 0 !important;
}

.ui.form .field > label,
.ui.divider {
  font-weight: 400 !important;
  font-size: 1.2rem !important;
}
.ui.button {
  font-weight: 400 !important;
  text-transform: uppercase !important;
  font-size: 1rem !important;
}

.ui.form .field > label,
.ui.divider {
  font-weight: 400 !important;
  font-size: 1.1rem !important;
}

.ui.steps .step.active {
  background-color: #f3f3f3 !important;
}
.ui.steps .step {
  padding: 0.8rem 1rem !important;
}
.ui.steps .step.active .title {
  color: #414141 !important;
}

.ui.ordered.steps .step * {
  font-weight: 500 !important;
  font-size: 0.9rem;
}

.ui.ordered.steps .step::before {
  font-size: 1.5em !important;
  font-weight: 100 !important;
}

@media screen and (max-width: 768px) {
  .ui.steps .step {
    padding: 0.54285714em 1em !important;
    border-radius: 0 !important;
  }
  .ui.ordered.steps .step * {
    font-size: 0.9rem;
  }
  .ui.ordered.steps .step::before {
    display: none !important;
  }
}

// Header

.ui.dropdown .menu > .header {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 160px;
  margin: 0.8rem 0 0.4rem !important;
  color: rgba(92, 92, 92, 0.87) !important;
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: 100 !important;
}

.ui.dropdown .menu > .header > strong {
  font-weight: 800 !important;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.menu .ui.dropdown .menu > .item {
  cursor: pointer;
}

.ui.dropdown .menu > .divider {
  margin: 0 !important;
}

.ui.rating .active.icon,
.ui.rating .icon.selected {
  color: #f68872 !important;
  text-shadow: 0 -1px 0 #f68872, -1px 0 0 #f68872, 0 1px 0 #f68872, 1px 0 0 #f68872 !important;
}

.ui.secondary.pointing.menu {
  border-bottom: none !important;
}
.Toastify__toast {
  border-radius: 0px !important;
}
