@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0 !important;
}

// * {
//   border: 1px solid rgb(255, 156, 156);
// }
body {
  font-family: 'Montserrat', sans-serif;
  color: #414141;
}

main {
  min-height: 80vh;
}

input {
  border: none;
}

// --- Header ---
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 2.5vw;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    &__logo img {
      width: 3rem;
    }

    &__search {
      display: flex;
      flex-direction: row;
      margin-right: auto;
      margin-left: 2rem;
      gap: 0.5rem;

      input:placeholder-shown {
        color: #a4a4a4;
      }

      & svg {
        height: 1.5rem;
        border-bottom: none;
      }
    }

    &__dropdown {
      margin-left: 1rem;
    }

    @media screen and (max-width: 600px) {
    }
  }
  svg {
    height: 1.7rem;
    &:hover {
      cursor: pointer;
    }
  }
}

// --- Footer ---
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 3rem;
  font-size: 0.9rem;

  li {
    display: inline;
    margin-left: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 700px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
  }
}
